<app-main-nav></app-main-nav>
<section class="container-md align-content-md-stretch">
    <br>
    <h2>CARHANNA PROJECT MANAGEMENT</h2>
    <br>
    <p class="text-initial"><strong>CarHanna</strong> is a free web <strong>API</strong> developed as a personal project in order to manage projects of any kind. This <strong>API</strong> is developed in <strong>NODEJS</strong> in the backend and with Angular 10 in the
        <Strong>frontend</Strong>. The database that is used is <a class="home-link" target="_blank" href="https:www.mongodb.com/"><strong>MongoDb</strong></a> .
        <br>
    </p>
    <cite title="Wikipedia"><a class="home-link" target="_blank" href="https://en.wikipedia.org/wiki/MongoDB"><strong>Wikipedia</strong></a></cite>
    <br>
    <blockquote class="blockquote">
        <p class="text-quote">MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License.
        </p>
    </blockquote>
    <br>
    <p class="text-initial">If you want to check the code, take a look to the following links to <strong>GITHUB</strong>:</p>
    <ul>
        <li class="text-initial-li">
            <a class="home-link" target="_blank" href="https://github.com/gxalmet/CarHanna-Backend-Node.js"><strong>API</strong></a>
        </li>
        <li class="text-initial-li">
            <a class="home-link" target="_blank" href="https://github.com/gxalmet/CarHanna-Angular-Frontend"><strong>Frontend</strong></a>
        </li>
    </ul>
</section>