<app-main-nav></app-main-nav>
<!-- <h4> From {{dateBeginCal.toDateString()}} to {{dateEndCal.toDateString()}}</h4> -->
<section class="container-xl" *ngIf="message">
    <div class="container-fluid alert alert-danger" role="alert">
        <h3>
            {{message}}
        </h3>
    </div>
</section>
<section class="container-fluid">
    <h6 *ngIf="dateBeginCal && dateEndCal">Calendar from {{dateBeginCal.toDateString()}} to {{dateEndCal.toDateString()}}</h6>
    <div *ngIf="dateBeginCal && dateEndCal" class="table">
        <table id="calendar" class="table table-responsive-lg table-bordered">
            <tr class="">

                <th class="th-cust" scope="col" *ngFor="let date of dateArray">
                    <!-- {{date.toDateString()}} -->
                    <p class="th-cust" *ngIf="date">{{date.toDateString().slice(3,15)}}</p>
                </th>
                <th></th>
            </tr>
            <tr>

            </tr>


            <tr *ngFor="let colorProject of colorProjects">
                <td [attr.colspan]="col.colspan" *ngFor="let col of colorProject">
                    <button *ngIf="col.colspan > 0 && col.level==1" type="button" class="btn btn-lv1 btn-sm btn-block" (click)="onNavigate(col)">Level {{col.level}} <br>{{col.name}}</button>
                    <button *ngIf="col.colspan > 0 && col.level==2" type="button" class="btn btn-lv2 btn-sm btn-block" (click)="onNavigate(col)">Level {{col.level}} <br>{{col.name}}</button>
                    <button *ngIf="col.colspan > 0 && col.level==3" type="button" class="btn btn-lv3 btn-sm btn-block" (click)="onNavigate(col)">Level {{col.level}} <br>{{col.name}}</button>

                    <!-- <button *ngIf="colorProject[len].id && colorProject[len].level==1" type="button" class="btn btn-lv1 btn-sm btn-block" (click)="onNavigate(colorProject[len])" >Level {{colorProject[len].level}} <br>{{colorProject[len].name}}</button>
                    <button *ngIf="colorProject[len].id && colorProject[len].level==2" type="button" class="btn btn-lv2 btn-sm btn-block" (click)="onNavigate(colorProject[len])">Level {{colorProject[len].level}} <br>{{colorProject[len].name}}</button>
                    <button *ngIf="colorProject[len].id && colorProject[len].level==3" type="button" class="btn btn-lv3 btn-sm btn-block" (click)="onNavigate(colorProject[len])">Level {{colorProject[len].level}} <br>{{colorProject[len].name}}</button> -->
                    <!-- <a href="/project" class="text-decoration-none">{{colorProject[len]}}</a> -->

                </td>
            </tr>
        </table>

    </div>
    <br>
</section>
<section class="container-xl container-fluid">

</section>