<app-main-nav></app-main-nav>
<div class="container">
    <div class="row">
        <div class='col-md-6 mx-auto'>
            <div *ngIf="message" class="alert alert-warning" role="alert">
                <h5>{{message}}</h5>
            </div>
            <div *ngIf="title" class="card-header">
                <h4>{{title}}</h4>
            </div>



            <div class="card-body" *ngIf="teamList.length>0">
                <label for="select" class="col-form-label-sm">Team Assigment</label>
                <ng-select class="ng-select" [items]="teamList" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="id" [(ngModel)]="teamSelected">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                    </ng-template>

                </ng-select>
            </div>

            <div class="card-body" *ngIf="project">
                <form #ProjectCreateForm="ngForm" class="form-text">
                    <div class="form-group align-center ">
                        <label for="level" class="col-form-label-sm">Level {{project.level}}</label>

                    </div>
                    <div class="form-group align-center ">
                        <label for="name" class="col-form-label-sm">Name</label>
                        <input type="text" class="form-control" placeholder="Project name" name="name" #name="ngModel" [(ngModel)]="project.name" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label-sm">Description</label>
                        <textarea class="form-control rounded-0" rows="3" name="description" #description="ngModel" [(ngModel)]="project.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="begin_date" class="col-form-label-sm">Begin date</label>
                        <input type="date" class="form-control" name="begin_date" #begin_date="ngModel" [(ngModel)]="project.check_date.begin_date" />
                    </div>
                    <div class="form-group">
                        <label for="end_date" class="col-form-label-sm">End date</label>
                        <input type="date" class="form-control" name="end_date" #end_date="ngModel" [(ngModel)]="project.check_date.end_date" />
                    </div>


                    <!-- <div class="form-group" *ngIf="statusList.length>0">
                        <label for="status" class="col-form-label-sm">Project Status</label>
                        <ng-select class="ng-select" [items]="statusList" [multiple]="false" bindLabel="name" [closeOnSelect]="true" bindValue="id" [(ngModel)]="statusSelected">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                            </ng-template>
                        </ng-select>
                    </div> -->

                    <div class="form-group">
                        <label for="status" class="col-form-label-sm">Project status</label>
                        <select class="form-control" id="statusSelect" name="statusList" [(ngModel)]="project.status">
                            <option *ngFor="let duration of statusList" [value]="duration.id">{{duration.name}}</option> 
                            <!-- <option>Open</option>
                            <option>In process</option>
                            <option>Close</option>
                            <option>Cancelled</option> -->
                        </select>
                    </div>

                    <p>
                        <button type="submit" class="btn btn-primary btn-sm btn-block" (click)="onSave(ProjectCreateForm)">Save</button>
                        <button type="submit" class="btn btn-secondary btn-sm btn-block" (click)="onCancel()">Cancel</button>

                        <button [disabled]="deleteButtonDisabled" type="submit" class="btn btn-danger btn-sm btn-block" (click)="onDelete(ProjectCreateForm)">Delete</button>
                    </p>

                </form>
            </div>
        </div>
    </div>
</div>
<section class="container-xl ">
    <div class="container-fluid ">
        <button type="button" class="btn btn-primary btn-sm btn-block" (click)="onCreateChildProject(project)">Create project</button>
    </div>

</section>
<section class="container-xl ">
    <app-child-projects *ngIf="project" [projectParent]="project">
    </app-child-projects>


    <!-- <table id="project" class="table table-striped">
        <tr>
            <th scope="col" *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
        <tr *ngFor="let projectChild of projectsChild">
            <td>
                <button type="button" class="btn btn-light my-0 my-sm-0" (click)="onNavigate(projectChild)">{{projectChild["name"]}}</button>

            </td>
            <td>
                {{projectChild["description"]}}
            </td>
            <td>
                {{projectChild.check_date["begin_date"].slice(0,10)}}
            </td>
            <td>
                {{projectChild.check_date["end_date"].slice(0,10)}}
            </td>
            <td>
                {{projectChild["status"]}}
            </td>
        </tr>

    </table> -->

</section>